<!DOCTYPE html>
<html>
<head>
    <title>Issued Books</title>
</head>
<body>

    <h1>Issued Books</h1>

    <table border="1">
        <tr>
            <th>Student</th>
            <th>Book</th>
            <th>Action</th>
        </tr>

        {% for item in records %}
        <tr>
            <td>{{ item.student }}</td>
            <td>{{ item.book }}</td>
            <td>
                <a href="/return/{{ item.id }}">Return</a>
            </td>
        </tr>
        {% endfor %}

    </table>

</body>
</html>
