<h2 class="text-center">Login</h2>

<form class="w-50 mx-auto mt-4">
    <div class="mb-3">
        <label>Email</label>
        <input type="email" class="form-control">
    </div>

    <div class="mb-3">
        <label>Password</label>
        <input type="password" class="form-control">
    </div>

    <div class="mb-3">
        <label>Role</label>
        <select class="form-control">
            <option>Student</option>
            <option>Admin</option>
            <option>Teacher</option>
        </select>
    </div>

    <button class="btn btn-primary w-100">Login</button>
</form>
