<h2 class="text-center">Register</h2>

<form class="w-50 mx-auto mt-4">
    <input class="form-control mb-3" placeholder="Full Name">
    <input class="form-control mb-3" placeholder="Email">
    <input class="form-control mb-3" placeholder="Phone">
    <input type="password" class="form-control mb-3" placeholder="Password">

    <select class="form-control mb-3">
        <option>Student</option>
        <option>Teacher</option>
    </select>

    <button class="btn btn-success w-100">Register</button>
</form>
