<h2>Student Management</h2>

<form method="POST">
    <input name="name" placeholder="Name">
    <input name="roll" placeholder="Roll No">
    <button class="btn btn-primary">Add Student</button>
</form>

<br>
<div class="card shadow p-3 mt-3">
<table border="1">
    <tr>
        <th>Name</th>
        <th>Roll No</th>
        <th>Actions</th>
    </tr>

    {% for student in students %}
    <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.roll }}</td>
        <td>
           <a href="/edit_student/{{ s.id }}">Edit</a>
           <a href="/delete_student/{{ s.id }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
